extends layout

block content
    h1= title
    - let dreamdestinationid = toShow._id
    - let destinationname = toShow.destinationname
    - let dreamdestinationlocation = toShow.location
    - let dreamdestinationrating = toShow.rating
 
    div.row(class='mb-2')
        div.mr-1 ID is
        div #{dreamdestinationid}
        - let actionid = "/resource/dreamdestination/" + dreamdestinationid
        form(id='dreamdestinationForm', action= actionid, method="PUT")
            div.form-group
                label.dreamdestinationAttr(for='destinationname') destinationname
                input#destinationname(type='text', name='destinationname', value= destinationname )
            div.form-group
                label.dreamdestinationAttr(for='location') location
                input#location(type='text', name='location', value= dreamdestinationlocation )
            div.form-group
                label.dreamdestinationAttr(for='rating') rating
                input#rating(type='number', name='rating', value= dreamdestinationrating )
            input(type="submit")
    script.
        document.forms['dreamdestinationForm'].addEventListener('submit', (event) => {
            event.preventDefault();
            // TODO do something here to show user that form is being submitted
            fetch(event.target.action, {
                method: 'PUT',
                body: new URLSearchParams(new FormData(event.target)) // event.target is the form
            }).then((resp) => {
                return resp.json(); // or resp.text() or whatever the server sends
            }).then((body) => {
                alert("Update succeded")
                // TODO handle body
            }).catch((error) => {
            // TODO handle error
                alert("Update failed " + error )
            });
        });